= form_for @application_setting, url: admin_application_settings_path, html: { class: 'fieldset-form' } do |f|
  = form_errors(@application_setting)

  %fieldset
    %p
      设置InfluxDB来测量各种统计信息，例如运行SQL查询所花费的时间。 这些设置需要
      = link_to '重新启动', help_page_path('administration/restart_gitlab')
      后才能生效。
      = link_to icon('question-circle'), help_page_path('administration/monitoring/performance/introduction')
    .form-group
      .form-check
        = f.check_box :metrics_enabled, class: 'form-check-input'
        = f.label :metrics_enabled, class: 'form-check-label' do
          启用 InfluxDB 指标
    .form-group
      = f.label :metrics_host, 'InfluxDB host', class: 'label-light'
      = f.text_field :metrics_host, class: 'form-control', placeholder: 'influxdb.example.com'
    .form-group
      = f.label :metrics_port, 'InfluxDB port', class: 'label-light'
      = f.text_field :metrics_port, class: 'form-control', placeholder: '8089'
      .form-text.text-muted
        用于连接到 InfluxDB 的 UDP 端口。
        InfluxDB 需要您的服务器配置数据库用于存储发送到此端口的消息，
        如果没有配置，指标数据将不会保存。
    .form-group
      = f.label :metrics_pool_size, 'Connection pool size', class: 'label-light'
      = f.number_field :metrics_pool_size, class: 'form-control'
      .form-text.text-muted
        可用的 InfluxDB 连接数。
        连接是延迟加载的，即只有需要的时候才会打开。
        使用多线程应用服务器的用户应确保有足够的连接可用
        （可用数至少是应用服务器线程的数量）。
    .form-group
      = f.label :metrics_timeout, 'Connection timeout', class: 'label-light'
      = f.number_field :metrics_timeout, class: 'form-control'
      .form-text.text-muted
        连接超时时间，单位秒。
    .form-group
      = f.label :metrics_method_call_threshold, 'Method Call Threshold (ms)', class: 'label-light'
      = f.number_field :metrics_method_call_threshold, class: 'form-control'
      .form-text.text-muted
        只有超过此给定的毫秒阀值后完成的方法调用才会被跟踪。
    .form-group
      = f.label :metrics_sample_interval, 'Sampler Interval (sec)', class: 'label-light'
      = f.number_field :metrics_sample_interval, class: 'form-control'
      .form-text.text-muted
        以秒为单位的采样间隔。
        采样数据包括内存使用、保留的 Ruby 对象、文件描述符等。
    .form-group
      = f.label :metrics_packet_size, 'Metrics per packet', class: 'label-light'
      = f.number_field :metrics_packet_size, class: 'form-control'
      .form-text.text-muted
        存储在单个UDP数据包中的点数。 增加点数可以减少发送次数，但会增加每个UDP数据包的大小。

  = f.submit '保存修改', class: "btn btn-success"
