= form_for @application_setting, url: admin_application_settings_path, html: { class: 'fieldset-form' } do |f|
  = form_errors(@application_setting)

  %fieldset
    .form-group
      .form-check
        = f.check_box :version_check_enabled, class: 'form-check-input'
        = f.label :version_check_enabled, class: 'form-check-label' do
          启用版本检查
        .form-text.text-muted
          GitLab 将会在新版本可用的时候发出通知。
          = link_to '查看这里', help_page_path("user/admin_area/settings/usage_statistics", anchor: "version-check")
          了解 GitLab 公司所分享的信息。
    .form-group
      - can_be_configured = @application_setting.usage_ping_can_be_configured?
      .form-check
        = f.check_box :usage_ping_enabled, disabled: !can_be_configured, class: 'form-check-input'
        = f.label :usage_ping_enabled, class: 'form-check-label' do
          启用使用量报告
        .form-text.text-muted
          - if can_be_configured
            为了帮助 GitLab 及其用户体验，GitLab 将定期收集使用信息。
            = link_to '查看这里', help_page_path("user/admin_area/settings/usage_statistics", anchor: "usage-ping")
            了解 GitLab 公司所分享的信息。查看
            = link_to '活跃度', admin_cohorts_path(anchor: 'usage-ping')
            来查看发送的 JSON 数据。
          - else
            已禁用使用量报告，无法通过这个表单来配置。要查看更多信息，请看文档
            = succeed '.' do
              = link_to 'deactivating the usage ping', help_page_path('user/admin_area/settings/usage_statistics', anchor: 'deactivate-the-usage-ping')

  = f.submit _('Save changes'), class: "btn btn-success"

