= render 'projects/merge_requests/diffs/version_controls'
= render 'projects/merge_requests/diffs/different_base'
= render 'projects/merge_requests/diffs/not_all_comments_displayed'
= render 'projects/merge_requests/diffs/commit_widget'

- if @merge_request_diff&.empty?
  .row.empty-state.nothing-here-block
    .col-12
      .svg-content= image_tag 'illustrations/merge_request_changes_empty.svg'
    .col-12
      .text-content.text-center
        %p
          分支
          %span.ref-name= @merge_request.source_branch
          和
          %span.ref-name= @merge_request.target_branch
          没有差别
          .text-center= link_to '创建提交', project_new_blob_path(@project, @merge_request.source_branch), class: 'btn btn-save'
- else
  - diff_viewable = @merge_request_diff ? @merge_request_diff.viewable? : true
  - if diff_viewable
    = render "projects/diffs/diffs", diffs: @diffs, environment: @environment, merge_request: true
