%ul.list-unstyled.navbar-sub-nav
  - if explore_nav_link?(:projects)
    = nav_link(path: ['dashboard#show', 'root#show', 'projects#trending', 'projects#starred', 'projects#index'], html_options: {class: 'home'}) do
      = link_to explore_root_path, title: 'Projects', class: 'dashboard-shortcuts-projects' do
        项目
  - if explore_nav_link?(:groups)
    = nav_link(controller: [:groups, 'groups/milestones', 'groups/group_members']) do
      = link_to explore_groups_path, title: 'Groups', class: 'dashboard-shortcuts-groups' do
        群组
  - if explore_nav_link?(:snippets)
    = nav_link(controller: :snippets) do
      = link_to explore_snippets_path, title: 'Snippets', class: 'dashboard-shortcuts-snippets' do
        代码片段
  %li
    = link_to "帮助", help_path, title: '关于 GitLab CE'
