- type = impersonation ? "扮演" : "个人访问"

%h5.prepend-top-0
  添加一个 #{type} 令牌
%p.profile-settings-content
  选择应用程序的名称，我们会为您提供一个唯一的 #{type} 令牌。

= form_for token, url: path, method: :post, html: { class: 'js-requires-input' } do |f|

  = form_errors(token)

  .row
    .form-group.col-md-6
      = f.label :name, class: 'label-light'
      = f.text_field :name, class: "form-control", required: true

  .row
    .form-group.col-md-6
      = f.label :expires_at, class: 'label-light'
      .input-icon-wrapper
        = f.text_field :expires_at, class: "datepicker form-control", placeholder: 'YYYY-MM-DD'
        = icon('calendar', { class: 'input-icon-right' })

  .form-group
    = f.label :scopes, "范围", class: 'label-light'
    = render 'shared/tokens/scopes_form', prefix: 'personal_access_token', token: token, scopes: scopes

  .prepend-top-default
    = f.submit "创建 #{type} 令牌", class: "btn btn-create"
