.top-area
  %ul.nav-links.nav.nav-tabs
    = nav_link(page: [trending_explore_projects_path, explore_root_path]) do
      = link_to trending_explore_projects_path do
        热门
    = nav_link(page: starred_explore_projects_path) do
      = link_to starred_explore_projects_path do
        最多星标
    = nav_link(page: explore_projects_path) do
      = link_to explore_projects_path do
        全部

  .nav-controls
    - unless current_user
      = render 'shared/projects/search_form'
      = render 'shared/projects/dropdown'
    = render 'filter'
