= form_tag(omniauth_authorize_path(:user, :crowd), id: 'new_crowd_user', class: 'gl-show-field-errors') do
  .form-group
    = label_tag :username, '用户名或邮箱'
    = text_field_tag :username, nil, { class: "form-control top", title: "必填项。", autofocus: "autofocus", required: true }
  .form-group
    = label_tag :password, '密码'
    = password_field_tag :password, nil, { class: "form-control bottom", title: "必填项。", required: true }
  - if devise_mapping.rememberable?
    .remember-me
      %label{ for: "remember_me" }
        = check_box_tag :remember_me, '1', false, id: 'remember_me'
        %span 记住我
  = submit_tag "登录", class: "btn-save btn"
