- page_title "群组和项目", @user.name, "用户"
= render 'admin/users/head'

- if @user.groups.any?
  .card
    .card-header 群组项目
    %ul.hover-list
      - @user.group_members.includes(:source).each do |group_member|
        - group = group_member.group
        %li.group_member
          %strong= link_to group.name, admin_group_path(group)
          &ndash; 访问
          #{pluralize(group.projects.count, '个项目', '个项目')}
          .float-right
            %span.light.vertical-align-middle= group_member.human_access
            - unless group_member.owner?
              = link_to group_group_member_path(group, group_member), data: { confirm: remove_member_message(group_member) }, method: :delete, remote: true, class: "btn-sm btn btn-remove prepend-left-10", title: '从群组中删除用户' do
                %i.fa.fa-times.fa-inverse

.row
  .col-md-6
    - if @personal_projects.present?
      = render 'admin/users/projects', projects: @personal_projects
    - else
      .nothing-here-block 此用户没有个人项目。


  .col-md-6
    .card
      .card-header 加入的项目 (#{@joined_projects.count})
      %ul.hover-list
        - @joined_projects.sort_by(&:full_name).each do |project|
          - member = project.team.find_member(@user.id)
          %li.project_member
            .list-item-name
              = link_to admin_project_path(project), class: dom_class(project) do
                = project.full_name

            - if member
              .float-right
                - if member.owner?
                  %span.light 拥有者
                - else
                  %span.light.vertical-align-middle= member.human_access

                  - if member.respond_to? :project
                    = link_to project_project_member_path(project, member), data: { confirm: remove_member_message(member) }, remote: true, method: :delete, class: "btn-sm btn btn-remove prepend-left-10", title: '从项目中删除用户' do
                      %i.fa.fa-times
